th{
  font-size: 13px;
  padding: 5px 5px !important;
}
td{
  font-size: 13px;
  padding: 2px !important;
}
.current_date_time{
  margin-top: 30px;
}
.form-control-small{
  height: 28px;
}
.btn-small{
  height: 28px;
  padding-top: 0px;
}

.note{
  position: relative;
}

.note .editable-container{
  position: absolute;
  left: -100%;
}

.note .editable-container .editable-submit{
  height: 30px;
}

.note .editable-container .editable-cancel{
  height: 30px;
}

.hidden{
   display: none;
}

.modal-dialog {
  width: 95% !important;
  max-width: 100% !important;
}

.modal-dialog,
.modal-content {
  height: 95%;
}

.modal-body {
  max-height: 100%;
  overflow-y: scroll;
}

.btn-coffee{
  background-color: rgb(105,79,58);
  cursor: pointer;
}

.btn-debt{
  background-color: rgb(74, 160, 181);
  cursor: pointer;
}

.num_editable{
  color: blue;
  cursor: pointer;
}
.tool_prod_name{
  display: inline-block;
}

.editableform .control-group{
  z-index: 9999;
}

@page { size: landscape; margin: 0mm; }

@media print {
  .noprint {display:none;}
  .editable-empty{display:none;}
  #printOnly {
    visibility: visible !important;
  }
  body{
    margin-left: 15px !important;
  }
}

#printOnly {
  visibility: hidden;
}
